:root {
  color: #102a43;
  background: #e7eef9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #e7eef9;
}
